
/*custom styles for small(mobile) screens*/
@media (max-width:500px) {

  /*Put nav buttons in 1 column*/
  .nav {
    flex-flow: column;
  }

  /*Make them full-width*/
  .nav a {
    width: 99%;
    margin: 2px auto;
  }

  /*Change main meeting color and font-size*/
  .meeting {
    font-size: 50%;
    background-attachment:fixed;
  }

  /*Change position of main meeting text*/
  .meeting-info {
    margin: 12em auto;
  }

  /*Put projects boxes 2 in row, instead of default 4*/
  .boxes div{
    flex-flow:row wrap;
    width: 45%;
    height: 120px;
  }

  /*Make "full view" buttons full-width*/
  .full-view-btn {
    width: 100%;
  }

  /*Set normal background for third box*/
  .box-3 {
    background-size: cover;
  }

  /*Make empty projects boxes hidden*/
  .box-5, .box-6, .box-7, .box-8 {
    visibility: hidden;
  }

  /*Set size of font in "ABOUT ME" block*/
  .about-content p, .about-content h2{
    font-size: 120%;
  }

  /*Make side-line invisible on smartphones and tablets*/
  .go-top {
    visibility: hidden;
  }

  /*Make copyright text smaller*/
  .copyright p{
    font-size: 60%;
  }
}

/*custom styles for medium(tablets) screens*/
@media (min-width:500px) and (max-width:800px) {

  /*Make them full-width*/
  .nav a{
    flex: 1 1 250px;
    width: 48%;
  }

  /*Change position of main meeting text*/
  .meeting-info {
    margin: 12em auto;
  }

  /*Set size of font in "ABOUT ME" block*/
  .about-content p, .about-content h2{
    font-size: 2.5em;
  }

  /*Put projects boxes 2 in row, instead of default 4*/
  .boxes div{
    flex-flow:row wrap;
    width: 45%;
    height: 200px;
  }

  /*Make "full view" buttons full-width*/
  .full-view-btn {
    width: 100%;
  }

  /*Divide footer in two columns*/
  .footer .copyright {
    flex: 2 1 250px;
  }

  /*Make empty projects boxes hidden*/
  .box-5, .box-6, .box-7, .box-8 {
    /*visibility: hidden;*/
  }

  /*Make side-line invisible on smartphones and tablets*/
  .go-top {
    visibility: hidden;
  }

  /*Make copyright text smaller*/
  .copyright p{
    font-size: 60%;
  }
}

/*custom styles for album-oriented screens*/
@media (max-width:800px) and (max-height:450px) {

  /*Change position of main meeting text*/
  .meeting-info {
    margin: 3em auto;
  }

  /*Make side-line invisible on smartphones and tablets*/
  .go-top {
    visibility: hidden;
  }

  /*Set size of font in "ABOUT ME" block*/
  .about-content p, .about-content h2{
    font-size: 1.2em;
  }

  /*Make empty projects boxes hidden*/
  .box-5, .box-6, .box-7, .box-8 {
    visibility: hidden;
  }

  /*Put projects boxes 2 in row, instead of default 4*/
  .boxes div{
    flex-flow:row wrap;
    width: 45%;
    height: 120px;
    margin: 1% 2% 2% 2%;
  }

  /*Make the header in projects block smaller*/
  .projects-container h2{
    font-size: 1.5em;
  }
  /*Set normal background for third box*/
  .box-3 {
    background-size: cover;
  }

  /*Make copyright text smaller*/
  .copyright p{
    font-size: 50%;
  }

  /*Set the mailbox width for label*/
  .signup label {
    width: 100%;
    /*color:rgb(162, 35, 6);*/
    text-align: center;
    letter-spacing: 1px;
  }
}
