/*Animation for smooth fadeIn of side line*/
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*Animation for smooth fadeOut of side line*/
@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@-moz-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

/*Side line for getting to the page top*/
.top {
  width: 40px;
  height: 100vh;
  z-index: 10;
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-animation: fadeOut 1.5s forwards;
  -moz-animation: fadeOut 1.5s forwards;
  animation: fadeOut 1.5s forwards;
}

/*Usage of fadeIn animation on side line*/
.top:hover {
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
