/*transition beetween blocks*/
.transition {
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0px;
  /*animation: transitionFadeOut 1s forwards;*/
}

/*changing arrow in transition block*/
.transition a {
 text-decoration: none;
 color: inherit;
}

/*animation with smooth fadeIn for bottom transition line*/
@-webkit-keyframes transitionFadeIn {
  from {

  } to {
    color: white;
    background-color: black;
    opacity: 0.5;
  }
}
@-moz-keyframes transitionFadeIn {
  from {

  } to {
    color: white;
    background-color: black;
    opacity: 0.5;
  }
}
@keyframes transitionFadeIn {
  from {

  } to {
    color: white;
    background-color: black;
    opacity: 0.5;
  }
}

/*@-webkit-keyframes transitionFadeOut {
  from {opacity: 0.5;}
  to {background-color: rgba(255, 255, 255, 0);}
}
@-moz-keyframes transitionFadeOut {
  from {opacity: 0.5;}
  to {background-color: rgba(255, 255, 255, 0);}
}
@keyframes transitionFadeOut {
  from {opacity: 0.5;}
  to {background-color: rgba(255, 255, 255, 0);}
}*/
/*usage of animation*/

/*Usage of animation fadeIn on bottom transition line*/
.transition:hover {
  -webkit-animation: transitionFadeIn 1.5s forwards;
  -moz-animation: transitionFadeIn 1.5s forwards;
  animation: transitionFadeIn 1.5s forwards;
  cursor: pointer;
}
